<!DOCTYPE html>
<html>
<head>
  <title>Outbound Sales Made Easy with Banzai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source='https://s3.amazonaws.com/banzaihq.com/banzai_favicon_transparent.png') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
  	var trackcmp_email = '';
  	var trackcmp = document.createElement("script");
  	trackcmp.async = true;
  	trackcmp.type = 'text/javascript';
  	trackcmp.src = '//trackcmp.net/visit?actid=648959745&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
  	var trackcmp_s = document.getElementsByTagName("script");
  	if (trackcmp_s.length) {
  		trackcmp_s[0].parentNode.appendChild(trackcmp);
  	} else {
  		var trackcmp_h = document.getElementsByTagName("head");
  		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
  	}
  </script>
</head>
<body>

  <%= render 'layouts/header' %>

  <%= yield %>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
