<!DOCTYPE html>
<html>
<head>
  <title>Outbound Sales Made Easy with Banzai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source='https://s3.amazonaws.com/banzaihq.com/banzai_favicon_transparent.png') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render 'layouts/header' %>

  <%= yield %>

<div class="footer">
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
